INSTALLPATH=~/.customize-bash

# -- add shell colors definitions
. $INSTALLPATH/.bash_customize_shell

# -- add shell customization
. $INSTALLPATH/.bash_customize_shell

# -- add shell prompt customization
. $INSTALLPATH/.bash_customize_prompt_colors

# -- add git customization
#. $INSTALLPATH/.bash_customize_git

# -- add symfony customization
#. $INSTALLPATH/.bash_customize_symfony

# -- add compass customization
#. $INSTALLPATH/.bash_customize_compass

# -- add ssh customization
#. $INSTALLPATH/.bash_customize_ssh
